<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>My Awesome App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/inspect.css" />
</head>

<body>
  <h2>All Requests</h2>
  <div>
    <h3>Path is /{{path}}</h3>
    {{#each request}}
    <p class="headers">Headers</p>
    <div class="request">
      <p>Request method: {{this.content.method}}</p>
      <p>Headers:</p>
      {{#each this.content.header}}
      <p> {{@key}}: {{this}}</p>
      {{/each}}

      {{#each this.content.body}}
      <p>Body:</p>
      {{this}}

      <p>---------------</p>
    </div>

    {{/each }}
    {{/each}}
  </div>



</body>

</html>