<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Call Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/inspect.css" />
</head>

<body>
  <section id="nav">
    <a href="/">Call Box</a>
  </section>

  <section id="main">
    <div>
      {{#each request}}
      <div class="request">
        <div class="top">
          <div class="method">
            <p>{{../host}}</p>
            <span class="method-inner">
              <p class="key">{{this.content.method}} </p>
              <p>/{{../path}}</p>
            </span>
          </div>
          <div class="time">
            {{this.created_at}}
          </div>
        </div>

        <div class="bottom">
          <div class="body">
            <p class="section-heading">BODY:</p>
            {{#each this.content.body}}
            <div class="key-value">
              <p class="key">{{@key}}:</p>
              <p class="value">{{this}}</p>
            </div>
            {{/each }}
          </div>

          <div class="headers">
            <p class="section-heading">HEADERS:</p>
            {{#each this.content.header}}
            <div class="key-value">
              <p class="key">{{@key}}:</p>
              <p class="value">{{this}}</p>
            </div>
            {{!-- <p> {{@key}}: {{this}}</p> --}}
            {{/each}}
          </div>

        </div>
      </div>
      {{/each}}
    </div>
  </section>
</body>

</html>